* {
    margin: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;

}

.header {
    text-align: center;
    background-image: url("images/donation3.jpg");
    background-repeat: no-repeat;
    padding: 100px 30px;
    width: 100%;

}

.header-btn {
    background-color: #FF5959;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    border: 0px;
}

.header-title {
    font-size: 65px;
    font-weight: 800;
    color: white;
}

.header-para {
    color: white;
}

/* <!-- donate today --> */
.donate-today div {

    text-align: center;
}

.donate-header {
    padding-top: 100px;
    font-size: 45px;
    color: #121212;
}

.donate-para {
    padding-top: 10px;
    color: #707070;
}

.donate-tk {
    display: flex;
    justify-content: center;
}

.donate-tk h3 {
    margin-top: 30px;
    padding: 10px 20px;

}

.orange-color {
    color: #FF5959;
    background-color: #f0bfbf;
    border: 2px solid#FF5959;
    padding: 10px 20px;
    border-radius: 5px;
}

.amount-taka {
    border: none;
    background-color: none;
    padding: 30px 200px 5px;
    border-bottom: 2px solid rgb(230, 161, 111);

}


/* our donate plan */
.donate-plan {
    margin-top: 100px;
    text-align: center;
}

.donate-plan-div {
    display: flex;
    text-align: left;
    margin: 20px 300px;


}

.donate-plan-div1 {
    padding: 30px;

    margin: 20px;
    background-color: #c1f9ff;
}

.donate-plan-div2 {
    padding: 30px;

    margin: 20px;
    background-color: #f7bdbd;
}

.donate-plan-div3 {
    padding: 30px;

    margin: 20px;
    background-color: rgb(247, 229, 181);
}

.icon-size {
    width: 50px;
}

/* their lives */
.their-lives {
    display: flex;
    align-items: center;
    padding: 100px 320px 100px 280px;

}

.their-lives-div {

    align-items: center;
    margin-right: 30px;
    padding: 30px;


}

.their-lives-btn {
    background-color: #FF5959;
    color: white;
    margin-top: 10px;
    padding: 15px 20px;
    border-radius: 5px;
    border: 0px;
}

/* their lives 2 */
.their-lives-2 {
    display: flex;
    align-items: center;
    padding: 50px 280px 100px 320px;

}

.their-lives-div-2 {

    align-items: center;
    margin-left: 30px;
    padding: 30px;


}

.their-lives-btn-2 {
    background-color: #FF5959;
    color: white;
    margin-top: 10px;
    padding: 15px 20px;
    border-radius: 5px;
    border: 0px;
}

/* Get my updates */
.get-my-update {
    text-align: center;

}

.get-my-update-2 {
    background-color: #FFF4D6;
    padding: 75px;
    margin: 50px 300px 100px 300px;
}

.email-btn {
    color: #707070;
    background-color: #D9D9D9;
    border: none;
    padding: 14px 218px 14px 17px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.subscribe-btn {
    color: white;
    background-color: #FF5959;
    padding: 14px 42px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.get-my-update-header {
    font-size: 45px;
    padding-bottom: 20px;
}

.get-my-update-para {
    padding-top: 200px;
    font-size: 18px;
    color: #707070;
}

footer {

    text-align: center;
    background-color: #0B0D17;
    padding: 43px 0px 43px 0px;

}

footer h2 {
    color: #FF5959;
    font-size: 36px;
    font-family: 'Lobster', cursive;

}

footer p {
    color: white;
    font-size: 14px;
}